
.j-dialog {
	background: #F7F7F7;
	font-size: 11px;
	position: absolute;
}

.j-dialog #exeCmd {
	margin-top: 10px;
}

.ui-widget-content {
	border: 1px solid #CCCCCC;
}

.ui-widget-overlay {
	background: none;
	opacity: 1;
}

.j-dialog .ui-widget-content {
	border: none;;
}

.j-dialog span.ui-dialog-title {
	color: #464646;
	font-family: Arial, sans-serif;
	text-shadow:none;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	margin-left: 10px;
}

.j-dialog .ui-dialog-titlebar-close {
	float: right;
	margin-right: 13px;
	margin-top: 13px;
}

.j-dialog label {
	display: block;
	margin-bottom: 2px;
	margin-top: 5px;
}

.j-dialog input[type="checkbox"] {
	margin: 0 10px 0 0;
}

.j-dialog input[type="text"] {
	height: 25px;
}

.j-dialog textarea {
	height: 90px;
}

.j-dialog input[type="text"],.j-dialog textarea {
	width: 100%;
}

.j-dialog .jeg-dialog-form {
	padding: 16px;
	border-top: 1px solid #CCCCCC;
}

.j-dialog .ui-dialog-titlebar {
	box-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	border: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #f5f5f5;

}

.j-dialog .ui-widget-content {
	background: #F7F7F7;
}

.j-dialog .jeg-dialog-submit {
	border-top: 1px solid #eaeaea;
	clear: both;
}

.j-dialog input[type="button"] {
	margin: 2px 15px 8px 0;
	padding: 4px 30px;
	line-height: 12px;
}

.j-dialog .buildgrid {
	background: none repeat scroll 0 0 #DDD;
	border-radius: 4px 4px 4px 4px;
	display: block;
	height: 37px;
}

.j-dialog .buildgrid li {
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
}

.j-dialog .buildgrid li {
	background-image: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
	float: left;
	height: 35px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)
		;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	display: inline-block;
	margin-left: -1px;
	text-align: center;
	line-height: 35px;
	font-size: 11px;
	color: #999;
}

.j-dialog .buildgrid .panelgrid {
	display: none;
	margin-top: 7px;
}

.j-dialog .buildgrid li:hover .gridcounter {
	display: none;
}

.j-dialog .buildgrid li:hover .panelgrid {
	display: inline-block;
}

.j-dialog .buildgrid li:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.j-dialog .buildgrid li:last-child {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin-left: -1px;
}

.j-dialog .grid_1 {
	width: 47px;
}

.j-dialog .grid_2 {
	width: 95px;
}

.j-dialog .grid_3 {
	width: 143px;
}

.j-dialog .grid_4 {
	width: 191px;
}

.j-dialog .grid_5 {
	width: 239px;
}

.j-dialog .grid_6 {
	width: 287px;
}

.j-dialog .grid_7 {
	width: 335px;
}

.j-dialog .grid_8 {
	width: 383px;
}

.j-dialog .grid_9 {
	width: 431px;
}

.j-dialog .grid_10 {
	width: 479px;
}

.j-dialog .grid_11 {
	width: 527px;
}

.j-dialog .grid_12 {
	width: 575px;
}
.j-dialog .grid_13 {
	width: 623px;
}
.j-dialog .grid_14 {
	width: 671px;
}
.j-dialog .grid_15 {
	width: 719px;
}
.j-dialog .grid_16 {
	width: 767px;
}
.j-dialog .addgrid,.j-dialog .plusgrid,.j-dialog .reducegrid,.j-dialog .removegrid
	{
	background-position: -8px -8px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	text-indent: 999px;
	width: 16px;
}

.j-dialog .addgrid {
	background-image: url('images/add.png');
}

.j-dialog .plusgrid {
	background-image: url('images/add.png');
}

.j-dialog .reducegrid {
	background-image: url('images/delete.png');
}

.j-dialog .removegrid {
	background-image: url('images/remove.png');
}

.j-dialog select {
	width: 100%;
	height: 26px;
}

/* buttons */
.j-dialog .select-button li {
	float: left;
	width: 120px;
	margin: 10px;
	line-height: 22px;
	text-align:center;
}


.j-dialog .select-button li.ib {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-bottom:15px;
	text-indent: 0;
	width: auto;
	height: 20px;
	padding: 9px 14px 0px 42px;
	background-position: 10px center;
	
	/* default button color */
	background-color: #fefefe;
	border: solid 1px #ccc;
	
	/* default box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

	/* default border radius */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.j-dialog .select-button li.ib.flat {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.j-dialog .select-button li.ib.download {
	background-image: url(../../images/social_icons/download.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.upload {
	background-image: url(../../images/social_icons/upload.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.cart {
	background-image: url(../../images/social_icons/cart.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.fav {
	background-image: url(../../images/social_icons/fav.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.address {
	background-image: url(../../images/social_icons/address.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.more {
	background-image: url(../../images/social_icons/more.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.refresh {
	background-image: url(../../images/social_icons/refresh.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.home {
	background-image: url(../../images/social_icons/home.png);
	background-repeat:no-repeat;
}
.j-dialog .select-button li.ib.article {
	background-image: url(../../images/social_icons/article.png);
	background-repeat:no-repeat;
}




.j-dialog .select-button li.ib.selected {
	border:1px solid #f3310e;
}



/* social buttons */
.j-dialog .select-socialicon li {
	float: left;
	width: 120px;
	margin: 10px;
	line-height: 22px;
	text-align:center;
}

.j-dialog .select-socialicon li.sb {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0 5px 10px 0;
	
	/* default button color */
	background-color: #f8f8f8;
	border: solid 1px #ddd;

}

.j-dialog .wrapper-button {
	background:#fff;
	padding:4px 4px 2px;
}

.j-dialog .select-socialicon li.sb.twitter {
	background-image: url(../../images/social_icons/twitter_bird.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.facebook {
	background: url(../../images/social_icons/facebook.png) no-repeat 0 0;
}
.j-dialog .select-socialicon li.sb.facebook:hover {
	background-color: #3b5998;
}

.j-dialog .select-socialicon li.sb.heart {
	background-image: url(../../images/social_icons/heart.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.linkedin {
	background-image: url(../../images/social_icons/linkedin.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.pinterest {
	background-image: url(../../images/social_icons/pinterest.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.podcast {
	background-image: url(../../images/social_icons/podcast.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.rss {
	background-image: url(../../images/social_icons/rss.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.share_this {
	background-image: url(../../images/social_icons/share_this.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.star {
	background-image: url(../../images/social_icons/star.png);
	background-repeat:no-repeat;
}
.j-dialog .select-socialicon li.sb.vimeo {
	background-image: url(../../images/social_icons/vimeo.png);
	background-repeat:no-repeat;
}

.j-dialog .social_icons li.selected {
	border:1px solid #f3310e;
}



.j-dialog .social_icons li:hover {
	background-position: 0 -40px;
}



/*** icon ***/
.j-dialog .select-icon li {
	float: left;
	width: 188px;
	margin: 0;
	line-height: 22px;
}

.j-dialog .select-icon li.selected {
	background: #7d7d7d;
	color: white;
}

.j-dialog .select-icon li.selected i {
	background-image: url("../img/glyphicons-halflings-white.png");
}

.j-dialog .wrapper-icon {
	height: 350px;
	overflow-y: scroll;
	width: 770px;
}

[class ^="icon-"],[class *=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px; *
	margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
}

[class ^="icon-"]:last-child,[class *=" icon-"]:last-child { *
	margin-left: 0;
}

.icon-white {
	background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-glass {
	background-position: 0 0;
}

.icon-music {
	background-position: -24px 0;
}

.icon-search {
	background-position: -48px 0;
}

.icon-envelope {
	background-position: -72px 0;
}

.icon-heart {
	background-position: -96px 0;
}

.icon-star {
	background-position: -120px 0;
}

.icon-star-empty {
	background-position: -144px 0;
}

.icon-user {
	background-position: -168px 0;
}

.icon-film {
	background-position: -192px 0;
}

.icon-th-large {
	background-position: -216px 0;
}

.icon-th {
	background-position: -240px 0;
}

.icon-th-list {
	background-position: -264px 0;
}

.icon-ok {
	background-position: -288px 0;
}

.icon-remove {
	background-position: -312px 0;
}

.icon-zoom-in {
	background-position: -336px 0;
}

.icon-zoom-out {
	background-position: -360px 0;
}

.icon-off {
	background-position: -384px 0;
}

.icon-signal {
	background-position: -408px 0;
}

.icon-cog {
	background-position: -432px 0;
}

.icon-trash {
	background-position: -456px 0;
}

.icon-home {
	background-position: 0 -24px;
}

.icon-file {
	background-position: -24px -24px;
}

.icon-time {
	background-position: -48px -24px;
}

.icon-road {
	background-position: -72px -24px;
}

.icon-download-alt {
	background-position: -96px -24px;
}

.icon-download {
	background-position: -120px -24px;
}

.icon-upload {
	background-position: -144px -24px;
}

.icon-inbox {
	background-position: -168px -24px;
}

.icon-play-circle {
	background-position: -192px -24px;
}

.icon-repeat {
	background-position: -216px -24px;
}

.icon-refresh {
	background-position: -240px -24px;
}

.icon-list-alt {
	background-position: -264px -24px;
}

.icon-lock {
	background-position: -287px -24px;
}

.icon-flag {
	background-position: -312px -24px;
}

.icon-headphones {
	background-position: -336px -24px;
}

.icon-volume-off {
	background-position: -360px -24px;
}

.icon-volume-down {
	background-position: -384px -24px;
}

.icon-volume-up {
	background-position: -408px -24px;
}

.icon-qrcode {
	background-position: -432px -24px;
}

.icon-barcode {
	background-position: -456px -24px;
}

.icon-tag {
	background-position: 0 -48px;
}

.icon-tags {
	background-position: -25px -48px;
}

.icon-book {
	background-position: -48px -48px;
}

.icon-bookmark {
	background-position: -72px -48px;
}

.icon-print {
	background-position: -96px -48px;
}

.icon-camera {
	background-position: -120px -48px;
}

.icon-font {
	background-position: -144px -48px;
}

.icon-bold {
	background-position: -167px -48px;
}

.icon-italic {
	background-position: -192px -48px;
}

.icon-text-height {
	background-position: -216px -48px;
}

.icon-text-width {
	background-position: -240px -48px;
}

.icon-align-left {
	background-position: -264px -48px;
}

.icon-align-center {
	background-position: -288px -48px;
}

.icon-align-right {
	background-position: -312px -48px;
}

.icon-align-justify {
	background-position: -336px -48px;
}

.icon-list {
	background-position: -360px -48px;
}

.icon-indent-left {
	background-position: -384px -48px;
}

.icon-indent-right {
	background-position: -408px -48px;
}

.icon-facetime-video {
	background-position: -432px -48px;
}

.icon-picture {
	background-position: -456px -48px;
}

.icon-pencil {
	background-position: 0 -72px;
}

.icon-map-marker {
	background-position: -24px -72px;
}

.icon-adjust {
	background-position: -48px -72px;
}

.icon-tint {
	background-position: -72px -72px;
}

.icon-edit {
	background-position: -96px -72px;
}

.icon-share {
	background-position: -120px -72px;
}

.icon-check {
	background-position: -144px -72px;
}

.icon-move {
	background-position: -168px -72px;
}

.icon-step-backward {
	background-position: -192px -72px;
}

.icon-fast-backward {
	background-position: -216px -72px;
}

.icon-backward {
	background-position: -240px -72px;
}

.icon-play {
	background-position: -264px -72px;
}

.icon-pause {
	background-position: -288px -72px;
}

.icon-stop {
	background-position: -312px -72px;
}

.icon-forward {
	background-position: -336px -72px;
}

.icon-fast-forward {
	background-position: -360px -72px;
}

.icon-step-forward {
	background-position: -384px -72px;
}

.icon-eject {
	background-position: -408px -72px;
}

.icon-chevron-left {
	background-position: -432px -72px;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

.icon-plus-sign {
	background-position: 0 -96px;
}

.icon-minus-sign {
	background-position: -24px -96px;
}

.icon-remove-sign {
	background-position: -48px -96px;
}

.icon-ok-sign {
	background-position: -72px -96px;
}

.icon-question-sign {
	background-position: -96px -96px;
}

.icon-info-sign {
	background-position: -120px -96px;
}

.icon-screenshot {
	background-position: -144px -96px;
}

.icon-remove-circle {
	background-position: -168px -96px;
}

.icon-ok-circle {
	background-position: -192px -96px;
}

.icon-ban-circle {
	background-position: -216px -96px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-arrow-up {
	background-position: -289px -96px;
}

.icon-arrow-down {
	background-position: -312px -96px;
}

.icon-share-alt {
	background-position: -336px -96px;
}

.icon-resize-full {
	background-position: -360px -96px;
}

.icon-resize-small {
	background-position: -384px -96px;
}

.icon-plus {
	background-position: -408px -96px;
}

.icon-minus {
	background-position: -433px -96px;
}

.icon-asterisk {
	background-position: -456px -96px;
}

.icon-exclamation-sign {
	background-position: 0 -120px;
}

.icon-gift {
	background-position: -24px -120px;
}

.icon-leaf {
	background-position: -48px -120px;
}

.icon-fire {
	background-position: -72px -120px;
}

.icon-eye-open {
	background-position: -96px -120px;
}

.icon-eye-close {
	background-position: -120px -120px;
}

.icon-warning-sign {
	background-position: -144px -120px;
}

.icon-plane {
	background-position: -168px -120px;
}

.icon-calendar {
	background-position: -192px -120px;
}

.icon-random {
	background-position: -216px -120px;
}

.icon-comment {
	background-position: -240px -120px;
}

.icon-magnet {
	background-position: -264px -120px;
}

.icon-chevron-up {
	background-position: -288px -120px;
}

.icon-chevron-down {
	background-position: -313px -119px;
}

.icon-retweet {
	background-position: -336px -120px;
}

.icon-shopping-cart {
	background-position: -360px -120px;
}

.icon-folder-close {
	background-position: -384px -120px;
}

.icon-folder-open {
	background-position: -408px -120px;
}

.icon-resize-vertical {
	background-position: -432px -119px;
}

.icon-resize-horizontal {
	background-position: -456px -118px;
}

.icon-hdd {
	background-position: 0 -144px;
}

.icon-bullhorn {
	background-position: -24px -144px;
}

.icon-bell {
	background-position: -48px -144px;
}

.icon-certificate {
	background-position: -72px -144px;
}

.icon-thumbs-up {
	background-position: -96px -144px;
}

.icon-thumbs-down {
	background-position: -120px -144px;
}

.icon-hand-right {
	background-position: -144px -144px;
}

.icon-hand-left {
	background-position: -168px -144px;
}

.icon-hand-up {
	background-position: -192px -144px;
}

.icon-hand-down {
	background-position: -216px -144px;
}

.icon-circle-arrow-right {
	background-position: -240px -144px;
}

.icon-circle-arrow-left {
	background-position: -264px -144px;
}

.icon-circle-arrow-up {
	background-position: -288px -144px;
}

.icon-circle-arrow-down {
	background-position: -312px -144px;
}

.icon-globe {
	background-position: -336px -144px;
}

.icon-wrench {
	background-position: -360px -144px;
}

.icon-tasks {
	background-position: -384px -144px;
}

.icon-filter {
	background-position: -408px -144px;
}

.icon-briefcase {
	background-position: -432px -144px;
}

.icon-fullscreen {
	background-position: -456px -144px;
}

/** color picker **/
.pickcolor {
	background: url("images/select.png");
	height: 36px;
	position: relative;
	width: 36px;
}

.pickcolor div {
	background: url("images/select.png") repeat scroll center center
		transparent;
	height: 30px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 30px;
}

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index: 10000;
}

.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}

.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}

.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}

.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}

.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}

.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}

.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}

.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}

.colorpicker_hex input {
	right: 6px;
}

.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}

.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}

.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}

.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}

.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}

.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}

.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}

.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}

.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}

.colorpicker_focus {
	background-position: center;
}

.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_slider {
	background-position: bottom;
}

/** text grow **/
.addgrow,.removegrow {
	background-position: -1px -2px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 19px;
	text-indent: 999px;
	width: 19px;
	margin-left: 10px;
}

.addgrow {
	background-image: url('images/tab_add.png');
}

.removegrow {
	background-image: url('images/tab_delete.png');
}

/** upload **/

input.uploadtext[type="text"] {
	width: 85%;
}

.j-dialog input.uploadtext[type="text"] {
	width: 60%;
}

input.uploadbutton {
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	padding: 2px;
	width: 20% !important;
}

#quote_button,#testimonial_button,
#youtube_button,#vimeo_button,
#html5video_button,#html5audio_button,
#portfolio_button
	{
	padding: 2px;
	position: absolute;
	z-index: 888;
}

#quote_delete,#quote_edit,
#testimonial_delete,#testimonial_edit,
#youtube_delete,#youtube_edit,
#vimeo_delete,#vimeo_edit,
#html5video_delete,#html5video_edit,
#html5audio_delete,#html5audio_edit,
#portfolio_edit,#portfolio_delete
	{
	background-color: #EEEEEE;
	border-color: #999999;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
}

/** tab **/
.jeg-meta-tab .ui-tabs-nav {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.jeg-meta-tab .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.jeg-meta-lab .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: 0px;
}

.jeg-meta-lab .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {    
    border: 1px solid #DFDFDF;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li {
	float: left;
	list-style: none outside none;
	/* margin: 0 0.2em 1px 0; */
	margin : 0px;
	padding: 0;
	position: relative;
	top: 1px;
	white-space: nowrap;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	border-right: none;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li:last-child {
	border-right: 1px solid #DFDFDF !important;	
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li a {
	color: #464646;
	display: block;	
	font-size: 12px;
	font-weight: normal;
	padding: 10px 25px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: capitalize;
	font-weight: bold;
}

.jeg-meta-tab .ui-widget-header {
	background: #f7f7f7;
}

.jeg-meta-tab .ui-widget-content {
	border: none;
}

.jeg-meta-tab .ui-tabs-panel {
	border: 1px solid #DFDFDF;
	padding: 10px;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: white;
	border: 1px solid #DFDFDF;
	border-right: none;
	border-bottom: 1px solid #FFFFFF;
}

.jeg-meta-tab {
	margin: 15px 0;
}

h3.hndle {
	text-transform: capitalize;
	font-size: 14px !important;
}

.jeg-meta-tab .ui-widget {
	font-family: sans-serif;
	font-size: 12px;
}

.meta-option, .setting-option {
	background-color: #FBFBFB;
	border: 1px solid #DFDFDF;
	box-shadow: 1px 1px 0 #FFFFFF inset;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 25px 5px 15px;
	position: relative;
}

.meta-description, .setting-description {
	color: #828282;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: 1.5em;
	padding: 5px 0;
	clear: both;
}

.meta-option [type="text"], .setting-option [type="text"] {
	width: 100%;
}

.meta-option [type="radio"] {
	margin-right: 5px;
}

.meta-option [type="checkbox"] {
	margin-right: 5px;
	margin-top: 1px;
}

.meta-option select {
	min-width: 50%;
}

.meta-option textarea, .setting-option textarea {
	height: 70px;
	width: 100%;
}

.meta-option .uploadtext {
	
}

.meta-option .selectfile {
	cursor: pointer;
}

.checkbox-wrapper {
	margin-bottom: 5px;
	float: left;
	line-height: 30px;
	width: 25%;
}

.radio-wrapper {
	float: left;
	line-height: 30px;
	width: 25%;
}

/** setting option **/

.setting-option select {
	min-width: 50%;
}

.setting-option input.uploadtext[type="text"] {
	width : 530px;	
}

.setting-option input.selectfile {
	cursor: pointer;
}

/** alert **/
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-heading {
	color: inherit;
	font-weight: bold;
}

.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-danger,.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

.alert-block>p,.alert-block>ul {
	margin-bottom: 0;
}

.alert-block p+p {
	margin-top: 5px;
}

input.slidertext {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none;
	color: #F6931F;
	margin-left: 20px;
	padding: 0;
	width: 65px !important;
	text-align: right;
}

.ui-slider-horizontal {
	border: 1px solid #DDDDDD !important;
	color: #333333;
	height: 10px;
	position: relative;
	margin-left: 10px;
}

.ui-slider .ui-slider-handle {
	cursor: default;
	height: 1.2em;
	position: absolute;
	width: 1.2em;
	z-index: 2;
	top: -3px;
	margin-left: -10px;
}

.ui-slider-range {
	display: none;
}

.meta-heading h4{
  	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	
	border: 1px solid #DFDFDF;
	color: #585858;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: capitalize;
}

.jad-heading-resize {
	background-image: url("images/arrows.png");
	background-position: 5px 7px;
	background-repeat: no-repeat;
	height: 25px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: 100px;
	top: 0;
	width: 25px;
	display: none;
}

.jad-child-heading:hover .jad-heading-resize{
	display: block;
}  

.jad-heading {
	position: relative;
	
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
}

.jad-heading h4 {
	border: 1px solid #DFDFDF;
	color: #585858;
	font-size: 13px;
	margin: 10px 0;
	padding: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: capitalize;
	padding-left: 40px;
	
	background-repeat: no-repeat;
	background-position: 15px 10px;
}

.jad-child-heading {
	position: relative;
	cursor: pointer;	
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
}

.jad-child-heading h4 {
	border: 1px solid #DFDFDF;
	text-shadow: 1px 1px 1px #FFFFFF;
	color: #585858;
	font-size: 13px;
	margin: 10px 0;
	padding: 6px 10px 6px 15px;
	text-transform: capitalize;
}

.jad-child-heading h4 {
	margin : 13px 0;
	text-align: center;
}

.jad-heading-raquo{
	display: none;
	margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}

#jegtheme_like_meta .ui-tabs-nav {
	display: none;
}

#poststuff h3, .metabox-holder h3 {
	padding : 11px;
}

.postbox .hndle {
	border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

/*** skleton ***/
.jad{
	background-color: #F9F9F9;
	background-image: url("../img/adminpattern.png");
	background-repeat: repeat;
	border-color: #D8D8D8;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	color: #7C7C7C;
	margin-left: 5px;
	margin-top: 20px;
	width: 900px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.jad-header {
	border-bottom: 1px solid #D8D8D8;
	/* box-shadow: 1px 1px 0px 1px rgba(125, 125, 125, 0.1); */
	height: 70px;
	
	/*
	background-image: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -webkit-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -o-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -ms-linear-gradient(top, #FCFCFC, #F4F4F4);
	*/	
}

.jad-header-title {
	color: #7C7C7C;
	font-size: 35px;
	line-height: 70px;
	margin-left: 30px;
	text-shadow: 2px 2px 0px #C9C9C9;
	float: left;
}

.jad-ads {
	background: white;
    float: right;
    height: 100%;
    width: 680px;
    border-left: 1px solid #DFDFDF;
}

.jad-ads img {
	padding : 12px 12px 12px 20px;
} 

.jad-body {
	/* padding : 20px; */
}

.jad-body-navi {
	background-color: #FFFFFF;	
	width: 220px;
	float: left;
	/* border-radius : 4px 0 0 4px; */
	/* border-top: 1px solid #cacaca; */
	/* border-left: 1px solid #cacaca; */
	/* border-bottom: 1px solid #cacaca; */
	background-color: #f6f6f6;
}

.jad-body-content {
	background-color:#FFFFFF;
	border-left: 1px solid #DFDFDF;
	float: right;
	margin-left: -1px;
	width: 680px;
	display: none;
}

.jad-body-clear {
	clear: both;
}

.jad-body-navi ul {
	margin : 0px;
}

.jad-body-navi li:first-child{
	border-radius: 4px 0 0 0 ;
}


.jad-body-navi li {
	line-height: 38px;
	margin: 0;
	padding-left: 39px;
	border-bottom: 1px solid #DFDFDF;
	border-top : 1px solid #FFF;	
    text-shadow: 1px 1px 1px #FFFFFF;
    cursor: pointer;
    border-right: 1px solid #DFDFDF;
    color: #464646;
    
    background-repeat: no-repeat;
	background-position: 15px 11px;
}

.jad-body-navi li.navi:hover {
	background-color: #FFFFFF;
}

.jad-body-navi li.active {
	background-color: #FFFFFF;
	border-right: none;
}

.jad-foot {
	border-top: 1px solid #D8D8D8;
	/* box-shadow: 1px 1px 2px 1px rgba(125, 125, 125, 0.1); */
	height: 52px;
	clear : both;
	
	/*
	background-image: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -webkit-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -o-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -ms-linear-gradient(top, #FCFCFC, #F4F4F4);		
	*/
	background: #F9F9F9;
}

.jad-tab {
	height: 40px;
	background: #F9F9F9;
}

.jad-tab ul{
	margin: 0px;
}

.jad-tab li {
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DFDFDF;
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 11px 25px;
	
	background-image: -moz-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -o-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -ms-linear-gradient(top, #F9F9F9, #F0F0F0);
}

.jad-tab li:hover {
	background: #FFFFFF;
}

.jad-tab li.active {
	background: #FFFFFF;
	border-bottom: none;
	position: relative;
	top: 1px;
	z-index: 10;
}

.jad .checkbox-wrapper {
	width: 50%;
}

.jad-content {
	background: #FFFFFF;
	border-top: 1px solid #DFDFDF;
	clear: both;
	min-height: 350px;
	position: relative;
	top: -1px;
	display: none;
	padding : 5px 15px;
}

.jad-content .setting-title {
	clear: both;
	margin: 0;
	padding: 11px 0 8px;
}


.setting-colorpicker .pickcolor {
	float: left;
}

.setting-colorpicker .pickcolor-text {
	float: left;
    height: 30px;
    margin-left: 9px;
    width: 200px;
    text-transform: uppercase;
}

.moreinfo, .lessinfo {
	cursor: pointer;
	height: 12px;
	margin-right: 30px;
	margin-top: 18px;
	position: absolute;
	right: 0;
	text-indent: 100px;
	top: 0;
	width: 12px;
}

.moreinfo {
	background: url(images/questionmark.png);
}

.lessinfo {
	background: url(images/minus.png);
}

.help {
	display: none;
	border-top: 1px dashed #DFDFDF; 
	margin : 10px 0;
}

.help-wrapper{
	margin : 10px 0;
}

.jad-submit{
	float: right;
}

.jad-submit input[type="submit"]{
	margin-right: 15px;
    margin-top: 13px;	      
}

input.btn {
    background-color: #0074CC;
	background-image: -moz-linear-gradient(top, #0088CC, #0055CC);
	background-image: -webkit-linear-gradient(top, #0088CC, #0055CC);
	background-image: linear-gradient(top, #0088CC, #0055CC);
	background-image: -o-linear-gradient(top, #0088CC, #0055CC);
	background-image: -ms-linear-gradient(top, #0088CC, #0055CC);
	
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	vertical-align: middle;
}

input.btn:hover{
	background-color: #0055CC;
	color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.body-active , .content-active {
	display: block;
}

.gridicon{
	background-image: url("images/grid2.png");
}

.settingicon {
	background-image: url("images/gear2.png");
}

.styleicon {
	background-image: url("images/style2.png");
}

.pagesettingicon {
	background-image: url("images/page2.png");
}

.mappinicon {
	background-image: url("images/map-pin2.png");
}

.musicadminicon {
	background-image: url("images/headphone.png");
}

.translationicon {
	background-image: url("images/flag2.png");
}

.socialicon {
	background-image: url("images/gear.png");
}

.docicon {
	background-image: url("images/doc.png");
}

.iconsubmit, .sidebarsubmit, .locsubmit, .thememanagersubmit, .musicsubmit {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px dotted #C9C9C9;
	margin: 15px -25px 0 -15px;
	padding: 10px 25px 5px 5px;
	text-align: right;
}

/** font chooser **/
.fontview {
	background: none repeat scroll 0 0 white;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    line-height: 40px;    
    text-align: center;    
    width: 100%;
    margin-bottom: 10px;
}

.fontvariant {
	text-transform: capitalize;
}


/** ibutton **/
.ibutton-container {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
	max-width: 400px;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	width: 89px;
}

.ibutton-container input {
  	position: absolute;
	top: 0;
	left: 0;

	/* hide the element */
	filter:alpha(opacity=0);
	-moz-opacity: 0.0; 
	opacity: 0.0;

	/* allow checking of input if visible */
	-moz-user-input: enabled  !important;
}

.ibutton-handle {
  	display: block;
  	height: 27px;
  	cursor: inherit;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 0;
  	background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 -54px;
  	z-index: 3;
  	padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 33px;
}

.ibutton-handle-right {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 100% -54px;
  z-index: 3; 
}

.ibutton-handle-middle {
  height: 100%;
  width: 100%;
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 50% -54px;
  z-index: 3; 
}

div.ibutton-label-on, div.ibutton-label-off {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: inherit;
  display: block;
  height: 22px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; 
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 0;
}

div.ibutton-label-on {
  color: #fff;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
  left: 0;
  padding-top: 5px;
  z-index: 1; 
}

div.ibutton-label-on span {
  padding-left: 5px;
}

div.ibutton-label-off {
  color: #7c7c7c;
  background-position: 100% 0;
  text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
  text-align: right;
  right: 0;
	/* the off label needs to near the left edge (ideally just 5px away) 
	 * it just needs to be close enough that it won't show under the handle if dragged to the left  
	 */
	width: 95%;
}

div.ibutton-label-off span {
  padding-right: 5px; 
}

/* create an outline when button gets focus via keyboard */
.ibutton-container label {
	cursor: inherit;
	padding: 1px 3px;
	font-size: 1em !important;
}

.ibutton-focus label {
	/* we must use border, since outline doesn't work in IE */
	border: 1px dotted #666 !important;
	padding: 0 2px;
}

.ibutton-focus div.ibutton-label-on span label {
	/* use white for more contrast */
	border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.ibutton-padding-left, .ibutton-padding-right {
	position: absolute; 
	top: 4px;
	z-index: 2; 
	background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 -4px; 
	width: 3px;
	height: 20px;
}
	
.ibutton-padding-left {
	left: 0; 
}

.ibutton-padding-right {
	right: 0; 
	background-position: 100% -4px;
}

/* change the styles of the handle when being dragged */
.ibutton-active-handle .ibutton-handle {
	background-position: 0 -108px;
}

.ibutton-active-handle .ibutton-handle-right {
	background-position: 100% -108px;
}

.ibutton-active-handle .ibutton-handle-middle {
	background-position: 50% -108px;
}

/* styles to use when the button is disabled */
.ibutton-disabled {
	cursor: not-allowed !important; /* cursor options: default or not-allowed */
}

.ibutton-disabled .ibutton-handle {
	background-position: 0 -81px;
}

.ibutton-disabled .ibutton-handle-right {
	background-position: 100% -81px;
}

.ibutton-disabled .ibutton-handle-middle {
	background-position: 50% -81px;
}

.ibutton-disabled div.ibutton-label-on {
	background-position: 0 -27px;
}

.ibutton-disabled div.ibutton-label-off {
	background-position: 100% -27px;
}

.ibutton-disabled .ibutton-padding-left {
	background-position: 0 -27px;
}

.ibutton-disabled .ibutton-padding-right {
	background-position: 100% -27px;
}

.ibutton-disabled div.ibutton-label-on {
	color: #fff;
}

.ibutton-disabled div.ibutton-label-off {
	color: #cbcbcb;
}


.iconset li {
	float: left;
}

.iconitem, .iconresultitem, .sidebarresultitem, .frontslideritem , .locationitem, .thememanager_item, .musicitem{		
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);		
	color: #FFFFFF;
	
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	padding: 1px 0px;
	text-align: center;
	vertical-align: middle;
	margin : 0px 8px 5px 0px;
}

.iconitemselect {
	background: #7CD3FF;
}

.iconresult, .sidebarres, .arrange_slider, .locationresult, .thememanager_result, .musicresult {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px dotted #C9C9C9;
	margin: 2px -25px -5px -15px;
	padding: 5px 17px;
}

.iconresult ul {
	margin: 6px 0px;
}

.thememanager_result ul li:first-child {
	background: activeborder;
	color : white;
}

.iconresultitem, .sidebarresultitem, .frontslideritem , .locationitem, .thememanager_item, .musicitem {
	background: #FBFBFB;
	color: #7C7C7C;
	cursor: move;
	margin-bottom: 9px;
	text-align: left;
	width: 100%;
	position: relative;
}

.sidebarresultitem {
	cursor: auto;
}

.iconresulticon {
	border-right: 1px dotted #C9C9C9; 
	float: left;
}

.iconresulttext{
	line-height: 30px; 
	padding-left: 40px;
}

.sidebarresulttext , .frontslidertext, .thememanager_text {
	line-height: 30px; 
	text-align: center;
	font-weight: bold;
}

.locationtext, .musictext {
	margin-left: 40px;
	border-left: 1px dotted #C9C9C9;
	padding-left: 10px;
}

.locationicon {
	background: url("images/map-pin.png") no-repeat;
	height: 40px;
	margin-left: 13px;
	margin-top: 30px;
	position: absolute;
	width: 40px;
}

.musicicon {
	background: url("images/map-pin.png") no-repeat;
	height: 40px;
	margin-left: 13px;
	margin-top: 30px;
	position: absolute;
	width: 40px;
}

.iconresultdel, .sidebarresultdel, .locationdel, .locationedit, .thememanager_del, .musicedit, .musicdel {
	position: absolute;
	right: 0px;
	top : 0px;
	cursor: pointer;
	background-image: url('images/delete.png');
	height: 32px;
	width: 32px;
}

.locationedit, .musicedit {
	background-image: url('images/edit.png');
	right: 32px;
}

.savedinfo, .installinfo {
	width: 850px;
	margin-left: 5px;
    margin-top: 15px;
    text-align: center;
}

.fontblock {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dotted #C9C9C9;
    margin: 3px -25px 0 -15px;
    padding: 10px 25px 10px 15px;
    text-align: left;
}

.ffblock {
	border-bottom: 1px dotted #C9C9C9;
}

.fontspan {
	display: block;
    padding-bottom: 7px;
    padding-top : 7px;
}

/* III . SOCIAL SET & MISC ICON  ========================================================================== */
.jad [class ^="misc-"],[class *=" misc-"] {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../img/misc-icon.png");
	width: 30px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.misc-magnifying-glass 			{ background-position: -20px  -22px; }
.misc-trashcan 					{ background-position: -81px  -21px; }
.misc-trashcan2 				{ background-position: -144px -20px; }
.misc-presentation 				{ background-position: -202px -20px; }
.misc-download-to-computer 		{ background-position: -259px -19px; }

.misc-download					{ background-position: -22px -82px; }
.misc-upload					{ background-position: -81px -82px; }
.misc-flag						{ background-position: -145px -82px; }
.misc-flag2						{ background-position: -203px -82px; }
.misc-finish-flag				{ background-position: -262px -83px; }

.misc-winner-podium				{ background-position: -18px -145px; }
.misc-cup						{ background-position: -81px -145px; }
.misc-home						{ background-position: -137px -145px; }
.misc-home2						{ background-position: -204px -145px; }
.misc-link						{ background-position: -263px -145px; }

.misc-link2						{ background-position: -17px -201px; }
.misc-note-book					{ background-position: -81px -201px; }
.misc-book						{ background-position: -138px -202px; }
.misc-book-large				{ background-position: -203px -202px; }
.misc-books						{ background-position: -263px -201px; }

.misc-tree						{ background-position: -19px -266px; }
.misc-under-construction		{ background-position: -80px -266px; }
.misc-umbrella					{ background-position: -141px -266px; }
.misc-mail						{ background-position: -205px -266px; }
.misc-help						{ background-position: -264px -265px; }

.misc-rss						{ background-position: -18px -321px; }
.misc-strategy					{ background-position: -80px -321px; }
.misc-strategy2					{ background-position: -140px -322px; }
.misc-apartment-building		{ background-position: -207px -322px; }
.misc-companies					{ background-position: -265px -324px; }

.misc-pacman-ghost				{ background-position: -19px -384px; }
.misc-pacman					{ background-position: -83px -384px; }
.misc-vault {
    background-position: -141px -386px;
}
.misc-archive {
    background-position: -206px -386px;
}
.misc-file-cabinet {
    background-position: -265px -386px;
}
.misc-bandaid {
    background-position: -21px -441px;
}
.misc-post-card {
    background-position: -83px -443px;
}
.misc-alert {
    background-position: -144px -443px;
}
.misc-alert2 {
    background-position: -206px -444px;
}
.misc-alarm-bell {
    background-position: -265px -444px;
}
.misc-alarm-bell2 {
    background-position: -20px -500px;
}
.misc-robot {
    background-position: -82px -499px;
}
.misc-globe {
    background-position: -142px -501px;
}
.misc-globe2 {
    background-position: -209px -501px;
}
.misc-chemical {
    background-position: -266px -498px;
}
.misc-light-bulb {
    background-position: -18px -562px;
}
.misc-cloud {
    background-position: -85px -562px;
}
.misc-cloud-upload {
    background-position: -146px -564px;
}
.misc-cloud-download {
    background-position: -207px -564px;
}
.misc-lamp {
    background-position: -268px -562px;
}
.misc-ppreview {
    background-position: -18px -623px;
}
.misc-ice-cream {
    background-position: -84px -623px;
}
.misc-ice-cream2 {
    background-position: -146px -623px;
}
.misc-paperclip {
    background-position: -208px -623px;
}
.misc-footprints {
    background-position: -269px -620px;
}
.misc-firefox {
    background-position: -19px -685px;
}
.misc-chrome {
    background-position: -83px -685px;
}
.misc-safari {
    background-position: -146px -685px;
}
.misc-loading-bar {
    background-position: -207px -687px;
}
.misc-bulls-eye {
    background-position: -266px -687px;
}
.misc-folder {
    background-position: -18px -745px;
}
.misc-locked {
    background-position: -83px -745px;
}
.misc-locked2 {
    background-position: -145px -746px;
}
.misc-unlocked {
    background-position: -208px -745px;
}
.misc-tag {
    background-position: -268px -746px;
}
.misc-tags2 {
    background-position: -19px -810px;
}
.misc-macos {
    background-position: -82px -810px;
}
.misc-windows {
    background-position: -144px -810px;
}
.misc-linux {
    background-position: -207px -809px;
}
.misc-create-write {
    background-position: -268px -810px;
}
.misc-expose {
    background-position: -20px -870px;
}
.misc-key {
    background-position: -83px -869px;
}
.misc-key2 {
    background-position: -145px -868px;
}
.misc-table {
    background-position: -208px -869px;
}
.misc-chair {
    background-position: -270px -868px;
}
.misc-acces-denied-sign {
    background-position: -20px -929px;
}
.misc-balloons {
    background-position: -81px -928px;
}
.misc-cat {
    background-position: -142px -928px;
}
.misc-airplane {
    background-position: -209px -928px;
}
.misc-truck {
    background-position: -269px -928px;
}
.misc-car {
    background-position: -18px -988px;
}
.misc-info-about {
    background-position: -81px -989px;
}
.misc-frames {
    background-position: -19px -1043px;
}
.misc-coverflow {
    background-position: -79px -1042px;
}
.misc-list {
    background-position: -138px -1043px;
}
.misc-list-images {
    background-position: -197px -1044px;
}
.misc-list-image {
    background-position: -257px -1044px;
}
.misc-blocks-images {
    background-position: -19px -1101px;
}
.misc-wordpress {
    background-position: -19px -1154px;
}
.misc-wordpress2 {
    background-position: -74px -1154px;
}
.misc-expression-engine {
    background-position: -136px -1154px;
}
.misc-joomla {
    background-position: -195px -1154px;
}
.misc-drupal {
    background-position: -254px -1156px;
}
.misc-headphone	{ 
	background-position: -80px -1101px; 
}

[class ^="social-"],[class *=" social-"] {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../img/socialset.png");
	width: 30px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.social-digg {
	background-position: -11px -7px;
}

.social-digg2 {
	background-position: -66px -8px;
}

.social-gbuzz {
	background-position: -127px -8px;
}

.social-delicious {
	background-position: -186px -8px;
}

.social-twitter {
	background-position: -249px -7px;
}

.social-twitter2 {
	background-position: -11px -66px;
}

.social-tumbler {
	background-position: -66px -66px;
}

.social-plixi {
	background-position: -127px -66px;
}

.social-dribbble {
	background-position: -187px -66px;
}

.social-dribbble2 {
	background-position: -249px -66px;
}

.social-stubleupon {
	background-position: -15px -126px;
}

.social-lastfm {
	background-position: -71px -126px;
}

.social-moby {
	background-position: -127px -126px;
}

.social-youtube {
	background-position: -189px -125px;
}

.social-youtube2 {
	background-position: -249px -126px;
}

.social-vimeo {
	background-position: -13px -187px;
}

.social-vimeo2 {
	background-position: -72px -188px;
}

.social-skype {
	background-position: -129px -187px;
}

.social-facebook {
	background-position: -189px -185px;
}

.social-fblike {
	background-position: -249px -185px;
}

.social-fblike2 {
	background-position: -13px -249px;
}

.social-myspace {
	background-position: -72px -247px;
}

.social-dropbox {
	background-position: -128px -245px;
}

.social-foursquare {
	background-position: -193px -246px;
}

.social-gowalla {
	background-position: -249px -244px;
}

.social-ichat {
	background-position: -13px -295px;
}

.social-gplust {
	background-position: -72px -295px;
}

.social-twitter3 {
	background-position: -129px -295px;
}

.social-linkedin {
	background-position: -189px -295px;
}

	img.scale-with-grid {
		max-width: 100%;
		width:250px;
		height: auto; 
		margin-bottom:10px;
		}