/* yellow #ffea00
====================================================================== */

::selection
{
	color: white;
	background-color: #ffea00;
}
::-moz-selection  
{
	color: white;
	background-color: #ffea00;
}

.sidebar-item ul li a:hover {
	color:#ffea00;
}

.search-submit:hover {
	background-color: #ffea00;
}
.facebook-link, .skype-link, .twitter-link, .flickr-link, .vimeo-link, .dribbble-link, .linkedin-link, .rss-link, .googleplus-link, .pintrest-link  {
	background-color:#ffea00;
}
#main-nav .current > a {
	background-color:#ffea00;
	color:#414146 !important;
}
#main-nav .current li.current a, #main-nav .current li.current li.current a {
	background-color:#ffea00;/**/
	color:#414146 !important;
}

#main-nav .current-menu-ancestor a, #main-nav .current_page_parent a, #main-nav .current-menu-item a {
	background-color:#ffea00;/**/
}




#main-nav a:hover {
	background-color:#ffea00;
}
.sf-menu li li a:hover{
	color: #414146 !important;
	background: #ffea00 !important;
}
/**************3 BLOCKS**********************/
.block-1-content-container {
	background-color:#ffea00;
}
.block-2-content-container {
	background-color:#edda06;
}
.block-3-content-container {
	background-color:#decb01;
}
.block-black-text {
	background-color:#ffea00;
}
.box2-img-container {
	background-color:#ffea00;
}
.block2-a:hover .box2-img-container-inv {
	background-color:#ffea00;
}
.box3-img-container {
	background-color:#ffea00;
}
.block3-a:hover .box3-img-container-inv {
	background-color:#ffea00;
}
.box3-description-container {
	border-bottom:3px solid #ffea00;
}
.box5-img-container, .box5-img-container-inv {
	background-color:#ffea00;
}
.block5-a:hover .box5-img-container-inv {
	background-color:#ffea00;
}
.buy-img-container {
	background-color:#ffea00;
}
.button-buy-container a{
	background-color: #ffea00;
}
.nl-img-container {
	background-color:#ffea00;
}
.nl-button {
	background-color: #ffea00;
}
.jcarousel-next:hover, .jcarousel-prev:hover {
	background-color:#ffea00;
}
.bg-45{
	background-color:#ffea00;
}
.view-first .mask {
    background-color: #ffea00;
}
.page-title-container {
	background-color:#ffea00;
}
.contact-loc:after{
	background-color: #ffea00;
}
.contact-phone:after{
	background-color: #ffea00;
}
.contact-mail:after{
	background-color: #ffea00;
}
.contact-mail a:hover{
	color:#ffea00;
}
.blog-item-date-cont  {
	background-color: #ffea00;
}
.blog-item-title-cont a:hover {
	background-color:#ffea00;
}
.pagination-1 a:hover {
	background-color:#ffea00;
}
.pagination-1 a.pag-current {
	background:#ffea00;
}
.pagination-1 .pag-prev:hover {
	background-color:#ffea00;
}
.pagination-1 .pag-next:hover {
	background-color:#ffea00;
}
.blog-categories li a:hover {
	color:#ffea00;
}
.blog-categories li a:hover .blog-cat-icon{
	background-color:#ffea00;
}
.blog-categories li.active .blog-cat-icon{
	background-color:#ffea00;
}
.latest-post-sidebar img:hover {
    border-color: #ffea00;
	background: none repeat scroll 0 0 #ffea00;
}
.skill-bar-content {
	background: #ffea00;
}
.ui-accordion-header:hover a{
	color:#ffea00;
}
.ui-accordion-header-active a{
	color:#ffea00;
}
.ui-accordion-header:hover span{
	background-color: #ffea00;
}
.ui-accordion-header-active span {
	background-color: #ffea00;
}
.tagcloud ul.wp-tag-cloud li a:hover {
	background-color:#ffea00;
}
.comment-name a:hover{
	color:#ffea00;
}
.comment-reply  a{
	background-color:#ffea00;
}
.author-name a:hover {
	color:#ffea00;
}
.dropcap4 {
	background: none repeat scroll 0 0 #ffea00;
}
#toggle-view .ui-accordion-header-active {
	color:#ffea00;
}
#toggle-view .ui-accordion-header:hover {
	color:#ffea00;
}
.box-icon:hover i {
	background-color:#ffea00;
}
.latest-post h4 a:hover {
	color:#ffea00;
}
.footer-mail a:hover{
    color:#ffea00;
}
#footer-nav li a:hover {
	color:#ffea00;
}
a.author:hover {
	color:#ffea00;
}
.tweet_text a:hover, .tweet_time a:hover {
	color:#ffea00;
}
.price-col-main h1 {
	background-color: #ffea00;
}
.pt-col-main {
	background-color:#ffea00;
}
h1.pt-col-main {
	background-color:#ffea00;
}
.r-m-plus:after{
	background-color:#ffea00 !important;
}
a.r-m-full:hover {
	background-color:#ffea00;
}
a.r-m-plus-small {
    background-color:#ffea00 !important;
}
.button {
	background-color:#ffea00;
}
.button.gray:hover {
	background-color:#ffea00; 
}
a {
    color: #ffea00;
}
.a-invert:hover{
	color: #ffea00;
}
.button.get-theme {
	background-color:#ffea00;
}
.view a.zoom:hover, .view a.link:hover  {
	background-color: #ffea00;
}
#back-top a:hover {
	background-color: #ffea00;
}
/**********SKELETON*******************/
	blockquote:before {
	background-color:#ffea00;
}


/****************FLEXSLIDER 1********************/
.flex-direction-nav li a:hover {
	opacity:1; filter:alpha(opacity=100);
	background-color: #ffea00 !important;
}
.slider-1 .slides li h2 { 
	background-color:#ffea00;
}
.flex-direction-nav li a:hover {
	opacity:1; filter:alpha(opacity=100);
	background-color: #ffea00 !important;
}
/****************FLEXSLIDER 2********************/
.flexslider .flex-next:hover { background-color:#ffea00;background-image: url(../images/next-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/* right: -33px;*/}
.flexslider .flex-prev:hover { background-color:#ffea00;background-image: url(../images/prev-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/*left: -33px;*/}
.flex-control-paging li a:hover { background-color: #ffea00; }
.flex-control-paging li a.flex-active:hover { background-color: #ffea00; }


/****************SEQUENCE SLIDER 1********************/
#sequence-theme .nav li img.active   {
  border-top: 5px solid #ffea00;
}
#sequence-theme .prev {
	background-color: #ffea00;
}
#sequence-theme .next.slider1:hover,
#sequence-theme .prev.slider1:hover {
    background-color:#ffea00;
}
#sequence-theme .main-text {
	border-left:5px solid #ffea00;
}
#sequence-theme .color {
	color:#ffea00;
}
/****************SEQUENCE SLIDER 2********************/
.sequence-theme-6 #sequence-theme .next:hover,
.sequence-theme-6 #sequence-theme .prev:hover {
  background-color:#ffea00;
}