body {
  font-size: 14px !important;
  font-family: Calibri, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Helvetica, Arial, sans-serif; }

img {
  -ms-interpolation-mode: bicubic; }

.clearfix {
  height: 1px;
  width: 1px;
  clear: both;
  display: block; }

#inner-content {
  margin-top: 20px; }

.mainPartner {
  text-align: right; }

.selection {
  margin-bottom: 60px; }
  .selection .title {
    color: #611560;
    font-weight: bold;
    font-size: 1.500em;
    position: relative;
    background: #ebebe5;
    padding: 25px 15px;
    text-transform: uppercase;
    border-top: 1px solid #dfd0df;
    border-left: 1px solid #dfd0df;
    border-right: 1px solid #dfd0df; }
    .selection .title a {
      color: #611560; }
  .selection .content {
    font-size: 1.063em;
    padding: 15px;
    border-bottom: 1px solid #dfd0df;
    border-left: 1px solid #dfd0df;
    border-right: 1px solid #dfd0df;
    min-height: 130px; }
  .selection .arrow {
    background: url(/wp-content/themes/JointsWP-master/library/images/sprite.png);
    display: block;
    width: 30px;
    float: right;
    right: 10px;
    height: 30px; }

.selection.first {
  float: left; }

.selection.last {
  float: right; }

.header .logo {
  width: 400px;
  height: 174px;
  background: url(/wp-content/themes/JointsWP-master/library/images/logo.png) 0 0 no-repeat;
  text-indent: -99999px;
  display: block; }
.header .loginboxholder {
  float: right;
  width: 350px;
  padding: 14px 0; }
  .header .loginboxholder .loginBoxTitle {
    font-size: 0.8em; }
  .header .loginboxholder .login-username {
    margin: 0; }
    .header .loginboxholder .login-username label {
      font-size: 0.7em; }
    .header .loginboxholder .login-username input[type="text"] {
      height: 1.9rem;
      margin: 0 0 5px 0;
      background: #9ed2f1;
      border: 0; }
  .header .loginboxholder .login-password {
    margin: 0; }
    .header .loginboxholder .login-password label {
      font-size: 0.7em; }
    .header .loginboxholder .login-password input[type="password"] {
      height: 1.9rem;
      margin: 0 0 5px 0;
      background: #9ed2f1;
      border: 0; }
  .header .loginboxholder .login-remember {
    float: left;
    margin: 4px 0 0 0; }
    .header .loginboxholder .login-remember label {
      font-size: 0.7em; }
  .header .loginboxholder .login-submit {
    float: right;
    margin: 0; }
    .header .loginboxholder .login-submit input[type="submit"] {
      border: 0;
      padding: 8px 14px;
      font-size: 0.6em;
      text-transform: uppercase;
      background: #9ed2f1; }

.menu-holder {
  background: #ececec; }

.top-bar {
  background: #ececec !important;
  margin: 26px 0 0; }
  .top-bar ul {
    background: none !important; }
    .top-bar ul li {
      background: none !important; }
      .top-bar ul li a {
        line-height: 1.8rem !important;
        background: none !important;
        height: auto;
        padding: 0.6rem 1rem;
        display: inline-block;
        text-align: left;
        color: #5c6b6f;
        font-size: 0.7em;
        text-transform: uppercase; }
      .top-bar ul li a:hover {
        color: #5c6b6f;
        background: #9ed2f1 !important; }
    .top-bar ul .current_page_item {
      background: none !important; }
      .top-bar ul .current_page_item a {
        background: #9ed2f1 !important;
        color: #fff !important;
        padding: 0.6rem 1rem !important;
        line-height: 1.8rem !important; }
    .top-bar ul .current_page_parent {
      background: #9ed2f1 !important;
      color: #fff !important; }
    .top-bar ul .current-menu-parent {
      background: #9ed2f1 !important;
      color: #fff !important; }
    .top-bar ul .dropdown {
      background: #4f4f4f !important; }
      .top-bar ul .dropdown a {
        color: #fff !important;
        padding: 0.6rem 1rem !important;
        background: #4f4f4f !important; }
      .top-bar ul .dropdown .current_page_item {
        background: none !important; }
        .top-bar ul .dropdown .current_page_item a {
          background: #9ed2f1 !important;
          color: #fff !important;
          padding: 0.6rem 1rem !important;
          line-height: 1.8rem !important; }
  .top-bar #menu-members-menu li {
    padding: 10px 20px 0; }
    .top-bar #menu-members-menu li a {
      line-height: 1.8rem !important;
      background: none !important;
      height: auto;
      padding: 0.6rem 1rem;
      display: inline-block;
      text-align: left;
      color: #4f4f4f;
      font-size: 0.7em;
      text-transform: uppercase; }
    .top-bar #menu-members-menu li a:hover {
      color: #fff; }
  .top-bar #menu-members-menu li:hover a {
    color: #fff; }
  .top-bar #menu-members-menu li.current-menu-parent {
    background: #9ed2f1 !important; }
  .top-bar #menu-members-menu .your-membership a {
    background: url(/wp-content/themes/JointsWP-master/library/images/your-membership-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .aacp-journal a {
    background: url(/wp-content/themes/JointsWP-master/library/images/journal-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .aacp-events a {
    background: url(/wp-content/themes/JointsWP-master/library/images/events-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .aacp-research a {
    background: url(/wp-content/themes/JointsWP-master/library/images/research-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .aacp-special-offers a {
    background: url(/wp-content/themes/JointsWP-master/library/images/special-offers-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .aacp-latest-news a {
    background: url(/wp-content/themes/JointsWP-master/library/images/latest-news-icon-small.png) no-repeat scroll 50% 30% transparent !important;
    padding: 50px 10px 10px; }
  .top-bar #menu-members-menu .your-membership:hover, .top-bar #menu-members-menu .aacp-journal:hover, .top-bar #menu-members-menu .aacp-events:hover, .top-bar #menu-members-menu .aacp-research:hover, .top-bar #menu-members-menu .aacp-special-offers:hover, .top-bar #menu-members-menu .aacp-latest-news:hover {
    background-color: #9ed2f1 !important; }
  .top-bar #menu-members-menu .current_page_parent a, .top-bar #menu-members-menu .current_page_item a {
    color: #4f4f4f !important;
    padding: 50px 10px 10px !important; }
  .top-bar #menu-members-menu .current_page_item {
    background: #9ed2f1 !important; }
  .top-bar #menu-members-menu .dropdown {
    background: #4f4f4f !important; }
    .top-bar #menu-members-menu .dropdown li {
      padding: 0; }
    .top-bar #menu-members-menu .dropdown a {
      color: #fff !important;
      background: #4f4f4f !important;
      padding: 0.6rem 1rem !important; }
    .top-bar #menu-members-menu .dropdown a:hover {
      color: #4f4f4f !important;
      background: #9ed2f1 !important;
      padding: 0.6rem 1rem; }
    .top-bar #menu-members-menu .dropdown .current_page_item {
      background: #9ed2f1 !important; }
      .top-bar #menu-members-menu .dropdown .current_page_item a {
        color: #4f4f4f !important;
        padding: 0.6rem 1rem !important;
        background: #9ed2f1 !important; }
  .top-bar .top-bar-section .has-dropdown > a {
    padding: 0.6rem 1rem;
    padding-right: 1rem !important; }
  .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0.6rem 1rem; }
  .top-bar .top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent transparent; }

.mainBanner {
  background: url(/wp-content/themes/JointsWP-master/library/images/bannerbackground.png) repeat-x scroll 0 0 transparent; }

.captionholder {
  background: url(/wp-content/themes/JointsWP-master/library/images/captionarrow.png) no-repeat scroll right 50% #4f4f4f;
  padding: 0 60px 0 0;
  position: absolute;
  left: 0;
  bottom: 35px;
  height: 90px; }

.caption {
  padding: 16px 40px 0 20px;
  background: #9ed2f1;
  color: #4f4f4f;
  height: 90px; }
  .caption p {
    font-size: 1.8em;
    line-height: 1.2em; }

.mainBanner .orbit-container {
  margin: 0 0 30px;
  height: 255px;
  overflow: visible; }
  .mainBanner .orbit-container #featured {
    overflow: hidden; }
  .mainBanner .orbit-container .orbit-prev {
    left: -36px; }
    .mainBanner .orbit-container .orbit-prev span {
      border-right-color: #4f4f4f; }
  .mainBanner .orbit-container .orbit-next {
    right: -36px; }
    .mainBanner .orbit-container .orbit-next span {
      border-left-color: #4f4f4f; }

.orbit-timer, .orbit-slide-number, .orbit-bullets-container {
  display: none; }

.fourBlocks {
  background: #bbdcf1;
  min-height: 250px;
  margin: 30px 0 0; }

.publicInfoScroller {
  background: url(/wp-content/themes/JointsWP-master/library/images/publicscrollerbackground.jpg) no-repeat scroll 50% transparent;
  padding: 40px 0; }

.latestNews {
  margin: 30px auto; }
  .latestNews .newsImage {
    width: 100%;
    background: #9ed2f1;
    height: 120px; }
  .latestNews .newsTitle {
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 12px 0 6px; }
  .latestNews .newsText p {
    font-size: 0.9em; }
  .latestNews .newsItem {
    min-height: 310px; }

.membersAttraction {
  background: #9ed2f1;
  padding: 50px 0; }

.promoVideo {
  background: url(/wp-content/themes/JointsWP-master/library/images/macbookpro.png) no-repeat scroll 0 0 transparent;
  height: 350px;
  padding: 25px 0 0 62px; }

.footer {
  border-top: 10px solid #ededed;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer .footerSmallCopy {
    margin: 10px 0;
    text-align: right;
    font-size: 0.750em; }
  .footer .copyright {
    width: auto;
    padding: 0.2975rem 0;
    color: #4f4f4f;
    font-size: 0.750em;
    font-weight: bold;
    text-align: center; }
  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right; }
    .footer ul li {
      background: none;
      color: #5c6b6f;
      font-size: 1.063em; }
      .footer ul li a {
        color: #9ed2f1;
        font-size: 0.750em;
        font-weight: normal; }
  .footer .sub-nav li.active a {
    color: #4f4f4f !important;
    background: #9ed2f1 !important; }

.noBorder {
  border: none; }

.documents-inner {
  background: #eee;
  padding: 20px;
  margin: 0 0 10px; }

.documents-item {
  margin: 0 0 30px;
  padding: 0 0 10px 60px;
  background: url(/wp-content/themes/JointsWP-master/library/images/documents-icon.png) no-repeat scroll 0 7% transparent;
  min-height: 60px;
  display: inline-block;
  width: 93%; }

.documents-inner hr {
  border: solid #999 !important;
  border-width: 2px 0 0 !important;
  margin: 20px 0 20px; }

.documents-item-text {
  width: 80%;
  float: left;
  min-height: 60px;
  border-right: 2px solid #999;
  margin-right: 12px; }

.documents-item-meta {
  width: 18%;
  float: left;
  text-align: center; }

.documents-item-meta .blue-button {
  float: left; }

.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {
  display: none; }

.case-study-holder {
  padding: 50px 0 0 0;
  border-top: 2px solid #999;
  margin: 50px 0 0 0;
  float: left;
  width: 100%; }

.case-study-text {
  float: left;
  width: 76%;
  margin-right: 10px; }

.case-study-info {
  float: right;
  width: 18%;
  text-align: center;
  border-left: 1px solid #999;
  padding: 0 0 0 25px; }

.info-item {
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  border-bottom: 1px dotted #999; }

.info-item-last {
  margin: 30px 0; }

.search-area-holder {
  background: #4f4f4f; }

.search-area .screen-reader-text {
  display: none; }
.search-area input[type="text"] {
  background: #4f4f4f;
  color: #fff;
  border: 0;
  float: left;
  width: 85%;
  margin: 5px 0 0 0;
  font-size: 0.8em; }
.search-area input[type="submit"] {
  float: right;
  height: 38px;
  background-color: #9ed2f1;
  color: #4f4f4f;
  margin: 0;
  height: 4em;
  line-height: 0.8em;
  font-size: 0.8em;
  text-transform: uppercase; }
.search-area input[type="submit"]:hover {
  background: #fff; }

.members-menu-holder {
  background-color: #ededed; }

.journalArchive [class*="column"] + [class*="column"]:last-child {
  float: left; }
.journalArchive .journal-archive-item {
  border: 1px solid #dddddd;
  height: 250px; }
.journalArchive .journalArchiveTitles {
  margin-top: 30px; }

.fourBlocks .block0 {
  background: #8fd2f2;
  height: 250px;
  text-align: center;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s; }
.fourBlocks .block1 {
  background: #83c2de;
  height: 250px;
  text-align: center;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s; }
.fourBlocks .block2 {
  background: #78b1cb;
  height: 250px;
  text-align: center;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s; }
.fourBlocks .block3 {
  background: #6da0b8;
  height: 250px;
  text-align: center;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s; }
.fourBlocks .block0:hover, .fourBlocks .block1:hover, .fourBlocks .block2:hover, .fourBlocks .block3:hover {
  background: #fff;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s; }
.fourBlocks .blockIcon {
  margin: 35px auto 0;
  width: 80px;
  height: 80px; }
.fourBlocks .blockTitle {
  font-size: 1.3em;
  font-weight: bold;
  color: #2f2f2f;
  height: 65px; }
.fourBlocks .blockText {
  color: #4f4f4f;
  font-size: 0.8em;
  padding: 0 20px; }

.publicInfoScroller h3 {
  color: #fff;
  margin-bottom: 25px; }
.publicInfoScroller p {
  color: #fff; }
.publicInfoScroller .orbit-slides-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }

.questionButton {
  font-size: 0.8em !important;
  text-transform: uppercase;
  padding: 1em !important;
  background: #222222;
  width: 100%; }

.questionButtonHolder .active {
  background: #9ed2f1;
  color: #4f4f4f; }

.attractionTitle {
  margin-bottom: 30px; }

.attractionSubText {
  margin-bottom: 30px; }

.attractionIcons {
  margin: 20px 0 40px; }

.attractionInfo {
  text-align: center; }

.attractionButton {
  background: #4f4f4f;
  padding: 16px 30px;
  color: #fff;
  font-size: 1.2em; }

.attractionButton:hover {
  background: #9ed2f1;
  color: #4f4f4f; }

.becomepage p {
  font-size: 0.9em; }
.becomepage h3 {
  font-size: 1.4rem; }

.accordion {
  margin: 0 !important; }
  .accordion p {
    font-size: 0.8em; }
  .accordion .accordion-navigation {
    margin-bottom: 8px !important; }

.accordion .accordion-navigation > a, .accordion dd > a {
  font-family: Calibri, Helvetica, Arial, sans-serif; }

.attractionbreaks hr {
  margin: 50px 0; }

table tr:nth-of-type(even) {
  background: #e9e9e9; }

.crm-profile-name-name_and_address .label {
  background: #fff !important; }

/*# sourceMappingURL=aacp.css.map */
